<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Flask Example - Project 3</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class = "container">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand" href="index.html">Cardiovascular Disease Classification Dashboard</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link" href="http://127.0.0.1:5000">Classification Page</a></li>  
                        <li><a class="nav-link" href="http://127.0.0.1:5000/overview">Project Overview</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Project Overview</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Introduction</h3>
                        </div>
                        <div class="panel-body"> 
                            <p>
                             According to the CDC, cardiovascular disease refers to several types of conditions affecting the heart and blood vessels. Common cardiovascular diseases and conditions include heart disease, stroke and hypertension (high blood pressure). Heart disease and stroke are two of the leading causes of death in the United States, major causes of disability and the principal causes of cardiovascular disease death
                             [<a href="https://www.cdc.gov/healthcommunication/toolstemplates/entertainmented/tips/CardiovascularHealth.html">1</a>], [<a href="https://www.ncbi.nlm.nih.gov/books/NBK83160/">2</a>].
                            <br><br>
                            Identifying factors related to common cardiovascular diseases would enable targeted preventative health intervention for populations at highest risk to potentially reduce poor health outcomes and associated medical costs.
                            <br><br>
                            This project aims to investigate factors that lead to cardiovascular disease as well as to explore which supervised machine learning methods most accurately
                            classify patients as having or not having cardiovascular disease given certain patient measurements and demogrpahic information.
                            <br><br>
                            <i>Keywords: Machine Learning, Cardiovascular Disease, Diagnosis, Classification</i> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Project Process</h3>
                        </div>
                        <div class="panel-body">
                            <h5>Step 1: Research / Planning / Project Setup</h5>
                            <ul>
                                <li>Research project topics and locate datasets appropriate for machine learning</li>
                                <li>Define project workflow and conceptualize data pipeline [<a href="https://github.com/dssg/hitchhikers-guide/tree/master/curriculum/0_before_you_start/pipelines-and-project-workflow">3</a>].</li>
                                <li>Create a repository in github, add README.md file to repository, upload initial dataset</li>
                            </ul>
                            <h5>Step 2: Create a Jupyter Notebook for ETL and Machine Learning </h5>
                            <ul>
                                <li>Data Cleaning: load dataset, inspect basics; handle missing data; handle outliers; binary encoding; explore our target variable’s balance</li>
                                <li>Data Exploration to decide which variables to keep: View distributions of variables, View descriptive stats, Check relationships among variables; Split data into training and testing, train decision tree and random forest to evaluate feature importance</li>   
                                <li>Train different supervised classification machine learning models to predict diagnosis: logistic regression, random forest, Support Vector Machines (SVM)</li>
                                <li>Export chosen model for flask app</li>
                            </ul>
                            <h5>Step 3: create flask app for classification dashboard and deploy with Heroku</h5> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <!-- <div class="well">
                        <h5>SELECT Sample:</h5>
                        <select id="selDataset" onchange="optionChanged(this.value)"></select>
                    </div> -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dataset Features</h3>
                        </div>
                        <div class="panel-body">
                            <p>The stroke dataset used for our Cardiovascular Disease Classifier can be found <a href="https://www.kaggle.com/asaumya/healthcare-dataset-stroke-data">here.</a></p>
                            Feature List:
                            <ul> 
                                <li>Average Glucose Level: Number between 0 and 300 (mg/dL)</li>
                                <li>BMI: Number between 0 and 100</li>
                                <li>Age: Integer between 0 and 100</li>
                                <li>Ever married? Yes or No</li>
                                <li>Gender: Male or Female</li>
                                <li>Residence Type: Urban or Rural</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Use the interactive charts below to explore the dataset's features</h3>
                        </div>
                        <div class="panel-body">
                            Select Feature 1
                            <br>Select Feature 2
                            <br>The graphs below display the distribution of feature 1, distribution of feature 2, and relationship between feature 1 and 2.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Conclusions</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                    We used 6 predictor variables from Kaggle’s stroke dataset to classify patients based on the the presence of cardiovascular disease (based on the combined risk of having heart disease, stroke and/or hypertension).<br><br>
                                    We then used multiple models to predict the presence of disease
                                    <ul>
                                        <li> Logistic regression: accuracy = </li>
                                        <li>Decision tree: Accuracy =
                                        </li>
                                        <li>Random forest:  Accuracy =
                                        </li>
                                        <li>SVC: Accuracy = </li>
                                    </ul> 
                                    Thus, we concluded that the highest accuracy we could achieve was xx%.<br><br>
                                    Furthermore, we determined that the best predictors of cardiovascular disease are average glucose level, BMI, and age. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Possible Improvements</h3>
                        </div>
                        <div class="panel-body">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">References:
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>Centers for Disease Control and Prevention. (2017, September 15). Cardiovascular Health. Retrieved February 1, 2019, from https://www.cdc.gov/healthcommunication/toolstemplates/entertainmented/tips/CardiovascularHealth.html</li>
                                <li>Institute of Medicine (US) Committee on a National Surveillance System for Cardiovascular and Select Chronic Diseases. A Nationwide Framework for Surveillance of Cardiovascular and Chronic Lung Diseases. Washington (DC): National Academies Press (US); 2011. 2, Cardiovascular Disease. Available from: https://www.ncbi.nlm.nih.gov/books/NBK83160/</li>
                                <li>Data Science for Social Good | Center for Data Science and Public Policy, University of Chicago. (2018). Pipelines and Project Workflow. Retrieved February 1, 2019, from https://github.com/dssg/hitchhikers-guide/tree/master/curriculum/0_before_you_start/pipelines-and-project-workflow</li>
                                <li>V. Ramalingam, V., Dandapath, A., & Karthik Raja, M. (2018). Heart disease prediction using machine learning techniques : a survey. International Journal of Engineering & Technology, 7(2.8), 684-687. doi:http://dx.doi.org/10.14419/ijet.v7i2.8.10557</li>
                                <li>Association of American Medical Colleges (AAMC) & National Association of Accountable Care Organizations. (2016). High-Risk-Patient Identification: Strategies for Success (Rep.). Retrieved January 19, 2019, from Association of American Medical Colleges website: https://www.aamc.org/download/470456/data/riskid.pdf.</li>
                                <li>Niehaus, K. E., & Clifton, D. A. (2016). Machine learning for chronic disease. Machine Learning for Healthcare Technologies, 2, 227. - Fryar CD, Chen T, Li X. Prevalence of Uncontrolled Risk Factors for Cardiovascular Disease: United States, 1999–2010. NCHS Data Brief, No. 103. Hyattsville, MD: National Center for Health Statistics, Centers for Disease Control and Prevention, US Dept of Health and Human Services; 2012.</li>
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 

        <footer class="navbar navbar-default navbar-fixed-bottom">
            <div class = "container-fluid">
                <div class="navbar-header">
                    <span>© 2018 Brian Bonewitz, Darren Barreto, Cassandra Nellis. All rights reserved.</span>
                </div>
            </div>
        </footer>
        
    </body>

</html>