<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Project Overview</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class = "container">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand" href="/">Cardiovascular Disease Prediction</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link" href="/">Prediction Page</a></li>  
                        <li><a class="nav-link" href="/overview">Project Overview</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Project Overview</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Introduction</h3>
                        </div>
                        <div class="panel-body"> 
                            <p>
                             According to the CDC, cardiovascular disease refers to several types of conditions affecting the heart and blood vessels, such as heart disease, stroke and hypertension (high blood pressure). Heart disease and stroke are two of the leading causes of death in the United States, major causes of disability, and the principal causes of cardiovascular disease death
                             [<a href="https://www.cdc.gov/healthcommunication/toolstemplates/entertainmented/tips/CardiovascularHealth.html">1</a>], [<a href="https://www.ncbi.nlm.nih.gov/books/NBK83160/">2</a>].
                            <br><br>
                            Identifying factors related to common cardiovascular diseases would enable targeted preventative health intervention for populations at highest risk to potentially reduce poor health outcomes and associated medical costs.
                            <br><br>
                            This project aims to investigate factors that lead to cardiovascular disease as well as to explore which supervised machine learning methods most accurately
                            classify patients as having or not having cardiovascular disease given certain patient measurements and demogrpahic information.
                            <br><br>
                            <i>Keywords: Machine Learning, Cardiovascular Disease, Diagnosis, Classification</i> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Project Process</h3>
                        </div>
                        <div class="panel-body">
                            <h5>Step 1: Research / Planning / Project Setup</h5>
                            <ul>
                                <li>Research project topics, datasets, and appropriate machine learning methods related to population health management
                                    [<a href="https://www.aamc.org/download/470456/data/riskid.pdf">3</a>], [<a href="https://www.sciencepubco.com/index.php/ijet/article/view/10557">4</a>].
                                </li>
                                <li>Define project workflow and conceptualize data pipeline [<a href="https://github.com/dssg/hitchhikers-guide/tree/master/curriculum/0_before_you_start/pipelines-and-project-workflow">5</a>].<br>
                                    <img src="https://raw.githubusercontent.com/dssg/hitchhikers-guide/master/curriculum/0_before_you_start/pipelines-and-project-workflow/pipeline_diagram.png" style="width:100%" alt="data pipeline diagram"></li>
                                <li>Create a <a href="https://github.com/Brybtb/Final_Project/tree/master">shared repository</a> in github, add README.md file to repository, upload initial dataset</li>
                            </ul>
                            <br>
                            <h5>Step 2: Create a Jupyter Notebook for ETL and Building Machine Learning Models</h5>
                            <ul>
                                <li>Data Cleaning: load dataset, inspect basics; handle missing data; handle outliers; binary encoding; explore dataset balance</li>
                                <li>Data Exploration: View variable distributions; view descriptive statistics; view relationships among variables, evaluate variable importance</li>   
                                <li>Train different supervised classification machine learning models to predict cardiovascular diagnosis: (1) logistic regression, (2) support vector classifier, (3) decision trees, and (4) random forest classifier</li>
                                <li>Export chosen scaler and model for flask application</li>
                            </ul>
                            <br>
                            <h5>Step 3: Create flask app for a prediction dashboard and deploy with Heroku</h5> 
                            <ul>
                                <li>Set up index.html, style.css, app.py, app.js files</li>
                                <li>Set up additional files for heroku deployment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dataset Features</h3>
                        </div>
                        <div class="panel-body">
                            <p>The stroke dataset used for our Cardiovascular Disease Classifier can be found <a href="https://www.kaggle.com/asaumya/healthcare-dataset-stroke-data">here.</a></p>
                            Feature List:
                            <ul> 
                                <li>Average Glucose Level: Number between 0 and 300 (mg/dL)</li>
                                <li>BMI: Number between 0 and 100</li>
                                <li>Age: Integer between 0 and 100</li>
                                <li>Ever married? Yes or No</li>
                                <li>Gender: Male or Female</li>
                                <li>Residence Type: Urban or Rural</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Conclusions</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                We used 6 predictor variables from Kaggle’s stroke dataset to classify patients based on the the presence of cardiovascular disease (using their combined risk of having heart disease, stroke and/or hypertension).
                                <br><br>
                                Based on the 8 models that we evaluated, the random forest classifier model using the resampled data was chosen as our final model to use for our flask app as it had the best harmonic mean between precision and recall (F1 score = 0.83).
                                <br><br>
                                Furthermore, we determined that the best predictors of cardiovascular disease are the patient's (1) average glucose level, (2) BMI, and (3) age. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Possible Improvements</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                In the future, we could use k-fold cross-validation when splitting our dataset since we have a small dataset and no single split (like 90:10, 80:20, etc.) is going to give satisfactory variance in its estimates.
                                <br><br>
                                We could also try to further improve our random forest model with hyperparameter tuning through a grid search.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">References:
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>Centers for Disease Control and Prevention. (2017, September 15). Cardiovascular Health. Retrieved February 1, 2019, from https://www.cdc.gov/healthcommunication/toolstemplates/entertainmented/tips/CardiovascularHealth.html</li>
                                <br>
                                <li>Institute of Medicine (US) Committee on a National Surveillance System for Cardiovascular and Select Chronic Diseases. A Nationwide Framework for Surveillance of Cardiovascular and Chronic Lung Diseases. Washington (DC): National Academies Press (US); 2011. 2, Cardiovascular Disease. Available from: https://www.ncbi.nlm.nih.gov/books/NBK83160/</li>
                                <br>
                                
                                <li>V. Ramalingam, V., Dandapath, A., & Karthik Raja, M. (2018). Heart disease prediction using machine learning techniques : a survey. International Journal of Engineering & Technology, 7(2.8), 684-687. doi:http://dx.doi.org/10.14419/ijet.v7i2.8.10557</li>
                                <br>
                                <li>Data Science for Social Good | Center for Data Science and Public Policy, University of Chicago. (2018). Pipelines and Project Workflow. Retrieved February 1, 2019, from https://github.com/dssg/hitchhikers-guide/tree/master/curriculum/0_before_you_start/pipelines-and-project-workflow</li>
                                <br>
                                <li>Association of American Medical Colleges (AAMC) & National Association of Accountable Care Organizations. (2016). High-Risk-Patient Identification: Strategies for Success (Rep.). Retrieved January 19, 2019, from Association of American Medical Colleges website: https://www.aamc.org/download/470456/data/riskid.pdf.</li>
                                <br>
                                <li>Niehaus, K. E., & Clifton, D. A. (2016). Machine learning for chronic disease. Machine Learning for Healthcare Technologies, 2, 227.</li>
                                <br>
                                <li>Fryar CD, Chen T, Li X. Prevalence of Uncontrolled Risk Factors for Cardiovascular Disease: United States, 1999–2010. NCHS Data Brief, No. 103. Hyattsville, MD: National Center for Health Statistics, Centers for Disease Control and Prevention, US Dept of Health and Human Services; 2012.</li>
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 

        <footer class="navbar navbar-default navbar-static-bottom">
            <div class = "container-fluid text-center"> 
                <br>
                <span>© 2019 Brian Bonewitz, Darren Barreto, Cassandra Nellis. All rights reserved.</span>
            </div>
        </footer>
        
    </body>

</html>